[Unit]
Description=Snow Reporter
After=network.target

[Service]
EnvironmentFile=/var/www/snow-reporter/env/defaults
ExecStart=/var/www/snow-reporter/app.js $CONFIG
Restart=always
User=nobody
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/snow-reporter

[Install]
WantedBy=multi-user.target

